.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  position: relative;
  overflow: hidden;
  min-height: 600px;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

@media (max-width: 968px) {
  .login-left {
    min-height: 300px;
    max-height: 400px;
  }
}

@media (max-width: 768px) {
  .login-left {
    display: none;
  }
}


