.mobile-logo {
  display: none;
}

@media (max-width: 768px) {
  .mobile-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 10px 10px 10px;
    margin-bottom: 20px;
  }

  .logo-image {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}


